/* General Styling for Manager Login */
.manager-login-container {
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Title for the Form */
.manager-login-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Form Styles */
.manager-login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Individual Form Fields */
.manager-form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.manager-form-field {
  display: flex;
  justify-content: right; /* Horizontally centers the child elements */
  align-items: center; /* Vertically centers the child elements */
  width: 100%; /* Ensure the parent takes the full available width */
}

.manager-form-field input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  align-content: center;
  border-radius: 10px;
  width: 50%;
  box-sizing: border-box;
}

/* Submit Button Styles */
.manager-submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  margin-top: 20px;
  align-self: center; /* Center the button horizontally */
}

.manager-submit-btn:hover {
  background-color: #45a049;
}

/* Message Styles */
.manager-response-message {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.manager-response-message.success {
  color: green;
}

.manager-response-message.error {
  color: red;
}

/* Responsive Design */
@media (max-width: 768px) {
  .manager-login-container {
    padding: 20px;
  }

  .manager-login-title {
    font-size: 20px;
  }

  .manager-submit-btn {
    font-size: 20px;
    padding: 10px;
  }
}
