.container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.heading {
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-bottom: 20px;
    text-decoration: underline;
}

.error-message {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.manager-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.manager-table th,
.manager-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.manager-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.manager-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.manager-table tr:hover {
    background-color: #e6f7ff;
}
